.App {
  margin: 0 1em;
}

.Header {
  text-align: left;
  padding-left: 1em;
  border-bottom: .02em solid ;
}

.Item-List {
  border-bottom: 1em solid #E7E7E7;
  margin-bottom: .5em;
}

.item-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: flex-start;
}

.img-responsive {
  float: left;
  clear: right;
  height: 15em;
  width: 18em;
}

.bottom {
  margin-top: 10em;
}

.top li {
    display: block;
    color: #9D9D9D;
}

.bottom li {
  display: inline-block;
  cursor: pointer;
  color: #1d1d1d;
  margin: .1em;
}

.delete {
  border-left: .1em solid #1d1d1d;
  border-right: .1em solid #1d1d1d;
  padding: 0 .2em;
}

.upwards {
  border-top: .65em solid #E7E7E7;
  padding-top: 1em;
}

.quantity {
  max-width: 5em;
}

.modal-body img {
  margin-top: 4em;
}

.modal-body ul {
  margin: 0;
  padding: 0;
}

.modal-body li {
  display: inline-block;
  margin: 1em;
}

.modal-body button {
  border: 5em solid linear-gradient(#FFFFFF, #666B66);
  border-radius: 15%;
  height: 1.5em;
  width: 3em;
  curser: pointer;
}

.red {
  background-color: #FF0000;
}

.pink {
  background-color: #FFC0CB;
}

.blue {
  background-color: #0000FF;
}

.modal-body select, input {
  margin: .5em;
}

.modal-footer {
  text-align: center;
}

.modal-footer button {
  width: 15em;
  weight: 20em;
}

.modal-footer p {
  margin: .2em;
  text-decoration: underline;
  curser: pointer;
}

.wrapper {
  border-top: 1em solid #E7E7E7;
  padding-top: .5em;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  align-content: flex-start;
}

.Contact, .Checkout {
  text-align: left;
}
